* {
    box-sizing: border-box;
}

.title {
    margin: 0.2em;
    text-align: center;
    color: rgb(255, 123, 0);
    text-shadow: 0px 0px 16px #fff8;
}

.addTitle {
    margin: 0.2em;
    text-align: center;
    color: black;
    text-shadow: 0px 0px 16px #fff8;
    border-bottom: #000 2px solid;
}

body {
    width: 99vw;
    height: 99vh;
    margin: 0px;
    padding: 0em;
    color: rgb(255, 123, 0);
    text-shadow: 0px 0px 16px #fff8;
    background-color: #000;
}

nav {
    font-size: large;
}

section {
    align-content: center;
    display: block;
    margin: 1em;
    border-radius: 2em;
    background-color: rgb(255, 123, 0);
    color: black;
    position: relative;

}

section h2, section p {
    margin: 0.2em 1em;
    color: white;
    text-align: center;
}

section p {
    font-size: medium;
}

section h2 {
    font-size: x-large;
    font-weight: bold;
}