body {
    background-color: black;
    font-family: 'Arial', sans-serif;
}

car-card {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 2fr;
    width: 16em;
    height: 20em;
    background-color: black;
    border: 3px solid gold;
    border-radius: 20px;
    color: gold;
    margin: 1em;
}

car-card img {
    grid-column: 1 / 3;
    width: 12em;
    object-fit: cover;
}

car-card h3{
    grid-column: 1 / 3;
    padding: 0em;
    margin: 0em;
    vertical-align: middle;
}
car-card .label {
    grid-column: 1;
}

car-card .value {
    grid-column: 2;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}